# Gitaly configuration file
# This file is managed by gitlab-ctl. Manual changes will be
# erased! To change the contents below, edit /etc/gitlab/gitlab.rb
# and run:
# sudo gitlab-ctl reconfigure

# virtual_storage_name must match the storage name for praefect in git_data_dirs
virtual_storage_name = '<%= @virtual_storage_name %>'

<% if @listen_addr %>
# TCP address to listen on
listen_addr = '<%= @listen_addr %>'
<% end %>

<% if @socket_path %>
# # Praefect can listen on a socket when placed on the same machine as all clients
socket_path = '<%= @socket_path %>'
<% end %>

[auth]
token = '<%= @auth_token %>'
transitioning = <%= @auth_transitioning %>

<% if @prometheus_listen_addr %>
# Optional: export metrics via Prometheus
prometheus_listen_addr = '<%= @prometheus_listen_addr %>'
<% end %>


[logging]
<% if @logging_level %>
level = '<%= @logging_level %>'
<% end %>
<% if @logging_format %>
format = '<%= @logging_format %>'
<% end %>

<% if @storage_nodes.is_a?(Hash) %>
<% @storage_nodes.each do |storage, node| %>
[[node]]
storage = '<%= storage %>'
address = '<%= node['address'] %>'
token = '<%= node['token'] %>'
primary = <%= [true, 'true'].include?(node['primary']) %>
<% end %>
<% else %>
<% @storage_nodes.each do |node| %>
[[node]]
storage = '<%= node['storage'] %>'
address = '<%= node['address'] %>'
token = '<%= node['token'] %>'
primary = <%= [true, 'true'].include?(node['primary']) %>
<% end %>
<% end %>
